/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff;
    color: #000000;
}

.card {
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content {
    transition: background-color 0.3s, color 0.3s;
}

button {
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#submitBtn {
    background-color: #f8e47d;
    color: #ff6c04;
    font-size: medium;
    font-weight: bolder;
}

#submitBtn:hover {
    background-color: #f6d815;
    color: #fff;
}

body.dark-mode #submitBtn {
    background-color: #f6d815;
    color: #ff6c04;
}

body.dark-mode #submitBtn:hover {
    background-color: #f8e47d;
    color: #fff;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.upload-image {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

body.dark-mode .upload-image {
    background-color: #3b3b3b;
}

.inner-upload-image {
    background-color: #f8e47d;
    border: 2px dashed #ffd700;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inner-upload-image:hover {
    background-color: #fff29a;
    border: 2px dashed #fce264;
    box-shadow: 0px 0px 10px 3px #fd8b3a;
}

body.dark-mode .inner-upload-image {
    background-color: #4a4949;
    border: 2px dashed #fce264;
}

body.dark-mode .inner-upload-image:hover {
    background-color: #333333;
    border: 2px dashed #f8e47d;
    box-shadow: 0px 0px 10px 3px #fd8b3a;
}

body.dark-mode .inner-upload-image i,
body.dark-mode .inner-upload-image span {
    color: #f8e47d;
}

#loadingSection {
    display: none;
}

@media (max-width: 767px) {
    .container {
        padding: 20px;
    }
    .output {
        width: 100%;
    }
}

#themeLabel {
    display: flex;
    align-items: center;
}

#themeLabel span {
    display: none;
}

body, .card, .modal-content, button, #themeToggle {
    transition: all 0.3s ease;
}

/* Light Theme - Default Card Body Styling */
.card-body {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    transition: all 0.3s ease;
}

/* Dark Mode Styles */
body.dark-mode .card-body {
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: all 0.3s ease;
}

/* Consistent font color for modal in both themes */
.modal-body, .modal-header, .modal-title {
    color: inherit;
}

body.dark-mode .modal-content {
    background-color: #4a4949;
    color: #ffffff;
}

body .modal-content {
    background-color: #ffffff;
    color: #000000;
}

h2.text-gradient {
    animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background: linear-gradient(45deg, #f6ff99, #ffa600);
        -webkit-background-clip: text;
        color: transparent;
    }
    100% {
        background: linear-gradient(45deg, #ffa600, #f6ff99);
        -webkit-background-clip: text;
        color: transparent;
    }
}

/* Output Box Styling */
.output {
    max-width: 100%;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.output pre {
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 1.5;
}

/* Add scrolling if content overflows */
.output::-webkit-scrollbar {
    width: 8px;
}

.output::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.output::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Additional styling for KaTeX */
.katex {
    display: block;
    margin: 0;
    word-wrap: break-word;
}

/* For Dark Mode */
body.dark-mode .output {
    background-color: #2a2a2a;
    color: #f8f9fa;
}

body.dark-mode .output pre {
    color: #f8f9fa;
}
