/* General Reset and Font Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body styling */
body {
    background-color: #000; /* Change background to black */
    color: #fff; /* Change text color to white */
}

/* Header Styling */
h1 {
    background: linear-gradient(to right, #ffc107, #ffdd57);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

/* Image Upload Styling */
.upload-image {
    max-width: 100%;
    text-align: center;
    margin: 0 auto; /* Center the element */
}

.inner-upload-image {
    background-color: transparent; /* Make background transparent */
    border: 2px dashed #ffc107; /* Add dashed border */
    height: 200px; /* Set fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inner-upload-image:hover {
    background-color: #333; /* Add background color on hover */
    box-shadow: 0 0 20px rgba(255, 193, 7, 0.5); /* Add yellow shadow */
}

#image {
    max-height: 100%;
    max-width: 100%;
}

#uploadIcon, #uploadText {
    color: #ffc107; /* Change icon and text color to yellow */
}

/* Button Styling */
button {
    background-color: #ffc107; /* Change button color to yellow */
    padding: 15px 20px;
    font-size: 18px;
    color: #000; /* Change button text color to black */
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #e0a800; /* Darken button color on hover */
}

/* Output Section Styling */
.output {
    width: 100%;
    display: none;
}

#text {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #fff; /* Change text color to white */
}

/* Loading Section Styling */
#loadingSection {
    display: none;
}
