body[data-bs-theme='light'] {
    background-color: #f8f9fa;
    color: #000;
}

body[data-bs-theme='dark'] {
    background-color: #000;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: inherit;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover .nav-link {
    color: #ff8949;
}

.btn {
    margin-left: 10px;
}

.form-check-input {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    color: #fff;
    background-color: #340065;
    border-color: #6e28a7;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success:hover {
    background-color: #6f1daa;
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none;
    }
}

.output-area {
    position: relative;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.output-area.maximized iframe {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.output-area iframe {
    width: 100%;
    border: none;
}

.btn-secondary {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    font-size: 14px;
}
